<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jesus Ponte</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'styles.css') }}">
    <link rel="icon"
      type="image/png"
      href="{{ url_for('static', filename= 'j-icon.svg') }}">
</head>
<body>
  <div class="container">
      <div class="header">
          <div class="header-title"><p>Jesus Ponte</p></div>
          <div class="header-nav">
              <a href="#section-1">About me</a>
              <a href="#section-2">Experience</a>
              <a href="#section-3">Certs</a>
              <a href="#section-4">Skills</a>
          </div>
      </div>
      <div class="section-1" id="section-1">
          <div class="about-left">
              <h1>Nice to meet you!</h1>
              <p>My name is Jesus Ponte, I'm a Data analyst and junior web developer.
                  My goal is to provide solutions in response to my client needs,
                  ranging from development of applications to data analysis. I'm motivated to gain knowledge daily so i
                  can offer faster and effective solutions.

              </p>
              <h2>Follow me on my socials!</h2>
              <div class="about-icons">

                  <a href="https://www.instagram.com/jesus.ponte/?r=nametag">
                      <img src="{{url_for('static', filename='insta-icon.svg') }}" alt="">
                  </a>

                  <a href="https://www.linkedin.com/in/ponte-jesus/">
                      <img src="{{url_for('static', filename='linkedin-icon.svg') }}" alt="">
                  </a>

                  <a href="mailto:jpontebravo@gmail.com">
                      <img src="{{url_for('static', filename='mail-icon.svg') }}" alt="">
                  </a>

              </div>
              <h2>Download my CV</h2>
              <div class="about-icons">
                  <a href="{{url_for('static', filename='Ponte_Jesus_CV_2022.pdf') }}" download="Ponte_Jesus_CV_2022">
                    <img src="{{url_for('static', filename='cv-icon.svg') }}" alt="">
                  </a>
              </div>
          </div>
          <div class="about-right">
              <img src="{{url_for('static', filename='img-jesus.jpg') }}" alt="">
          </div>
      </div>

      <div class="section-1-mobile">
          <div class="about-left">
              <h1>Nice to meet you!</h1>
              <p>My name is Jesus Ponte, I'm a Data analyst and junior web developer.
                  My goal is to provide solutions in response to my client needs,
                  ranging from development of applications to data analysis. I'm motivated to gain knowledge daily so i
                  can offer faster and effective solutions.
              </p>
              <h2>Follow me on my socials!</h2>
              <div class="about-icons">
                  <a href="https://www.instagram.com/jesus.ponte/?r=nametag">
                      <img src="{{url_for('static', filename='insta-icon.svg') }}" alt="">
                  </a>
                  <a href="https://www.linkedin.com/in/ponte-jesus/">
                      <img src="{{url_for('static', filename='linkedin-icon.svg') }}" alt="">
                  </a>
              </div>
              <h2>Download my CV</h2>
              <div class="about-icons">
                  <a href="{{url_for('static', filename='Ponte_Jesus_CV_2022.pdf') }}" download="Ponte_Jesus_CV_2022">
                    <img src="{{url_for('static', filename='cv-icon.svg') }}" alt="">
                  </a>
              </div>
          </div>
          <div class="about-right">
              <img src="{{url_for('static', filename='img-jesus-rect.jpg') }}" alt="">
          </div>
      </div>


      <div class="section-2" id="section-2">
          <div class="section-2-title">
              <h2>Experience</h2>
              <p>Short timeline of my studies and work experience</p>
          </div>

          <div class="section-2-card">
                <div class="card-title">
                    <img src="{{ url_for('static', filename= 'cap-icon.svg') }}" alt="">
                    <h3>Universidad Metropolitana</h3>
                    <p>Systems Engineering (2013-2019)</p>
                </div>
                <div class="card-content">
                    <p>This degree allowed me to learn about analysis, design, development and deployment of information systems.</p>
                    <p>Helped me develop problem solving skills, use of emerging tecnologies and operations research.</p>
                    <p>Most proyects were focused on web and mobile development.</p>
                </div>
          </div>
          <div class="section-2-card">
                <div class="card-title">
                    <img src="{{ url_for('static', filename= 'webdev-icon.svg') }}" alt="">
                    <h3>Aether Solutions</h3>
                    <p>Web Developer (2017-2020)</p>
                </div>
                <div class="card-content">
                    <p>This was my first job as a developer.</p>
                    <ul>
                        <li>My task was to create web and mobile applications with the help of other team members</li>
                        <li>Focused en stores and inventory management solutions</li>
                        <li>Web page development according to client specifications</li>
                    </ul>

                </div>
          </div>
          <div class="section-2-card">
                <div class="card-title">
                    <img src="{{ url_for('static', filename= 'data-icon.svg') }}" alt="">
                    <h3>Niu Solutions</h3>
                    <p>Data Analyst (2020-Today)</p>
                </div>
                <div class="card-content">
                    <p>This is a marketing company based in Guatemala. Focused in digital transformation using a different array of solutions.
                    The following are the tasks perfomed by my role as a data analyst: </p>
                    <ul>
                        <li>Data analysis and presentation with PowerBi</li>
                        <li>Extration, transformation and loading of data</li>
                        <li>Report creation and automation</li>
                        <li>Machine learning</li>
                        <li>KPI analysis</li>
                        <li>API creation for data consumption</li>
                    </ul>

                </div>
          </div>

      </div>
      <div class="section-3" id="section-3">
          <div class="section-2-title">
              <h2>Certifications</h2>
              <p>Some of the most important certifications I have finished</p>
          </div>
          <div class="section-3-cards">
              <div class="cert-card">
                  <div class="cert-card-title">
                    <img src="{{ url_for('static', filename= 'codeacademy-white-icon.jpg') }}" alt="">
                    <h3>Build Python Web Apps with Flask Skill Path</h3>
                    <p>Codeacademy(2022)</p>
                  </div>
              </div>
              <div class="cert-card">
                  <div class="cert-card-title">
                    <img src="{{ url_for('static', filename= 'codeacademy-white-icon.jpg') }}" alt="">
                    <h3>Build Deep Learning Models with TensorFlow</h3>
                    <p>Codeacademy (2022)</p>
                  </div>
              </div>
              <div class="cert-card">
                  <div class="cert-card-title">
                    <img src="{{ url_for('static', filename= 'codeacademy-white-icon.jpg') }}" alt="">
                    <h3>Build a Machine Learning Model with Python</h3>
                    <p>Codeacademy (2022)</p>
                  </div>
              </div>
              <div class="cert-card">
                  <div class="cert-card-title">
                    <img src="{{ url_for('static', filename= 'codeacademy-white-icon.jpg') }}" alt="">
                    <h3>Analyze Business Data with SQL </h3>
                    <p>Codeacademy (2022)</p>
                  </div>
              </div>
              <div class="cert-card">
                  <div class="cert-card-title">
                    <img src="{{ url_for('static', filename= 'codeacademy-white-icon.jpg') }}" alt="">
                    <h3>Analyze Data with Python</h3>
                    <p>Codeacademy (2022)</p>
                  </div>
              </div>
              <div class="cert-card">
                  <div class="cert-card-title">
                    <img src="{{ url_for('static', filename= 'codeacademy-white-icon.jpg') }}" alt="">
                    <h3>Learn Python 3</h3>
                    <p>Codeacademy (2022)</p>
                  </div>
              </div>



              <div class="cert-card">
                  <div class="cert-card-title">
                    <img src="{{ url_for('static', filename= 'hubspot-icon.jpg') }}" alt="">
                    <h3>Data Integrations Certification</h3>
                    <p>HubSpot (2022)</p>
                  </div>
              </div>
              <div class="cert-card">
                  <div class="cert-card-title">
                    <img src="{{ url_for('static', filename= 'hubspot-icon.jpg') }}" alt="">
                    <h3>Growth-Driven Design Agency</h3>
                    <p>HubSpot (2022)</p>
                  </div>
              </div>
              <div class="cert-card">
                  <div class="cert-card-title">
                    <img src="{{ url_for('static', filename= 'hubspot-icon.jpg') }}" alt="">
                    <h3>Growth-Driven Design</h3>
                    <p>HubSpot (2022)</p>
                  </div>
              </div>

              <div class="cert-card">
                  <div class="cert-card-title">
                    <img src="{{ url_for('static', filename= 'sap-icon.jpg') }}" alt="">
                    <h3>SAP Certified Development Associate - ABAP with SAP NetWeaver 7.50</h3>
                    <p>SAP (2020)</p>
                  </div>
              </div>
              <div class="cert-card">
                  <div class="cert-card-title">
                    <img src="{{ url_for('static', filename= 'sap-icon.jpg') }}" alt="">
                    <h3>Getting Started with Data Science</h3>
                    <p>SAP (2021)</p>
                  </div>
              </div>
              <div class="cert-card">
                  <div class="cert-card-title">
                    <img src="{{ url_for('static', filename= 'sap-icon.jpg') }}" alt="">
                    <h3>Developing and Extending SAP Fiori Elements Apps</h3>
                    <p>SAP (2021)</p>
                  </div>
              </div>

          </div>
      </div>
      <div class="section-4" id="section-4">

          <div class="section-4-title">
              <h2>Skills</h2>
          </div>


          <div class="skills-container">
              <div class="skill-div">
                  <h3>Languages</h3>
                  <ul>
                      <li>
                          <p>Spanish</p>

                      </li>
                      <li>
                          <p>English</p>

                      </li>
                      <li>
                          <p>French</p>

                      </li>
                  </ul>
              </div>

              <div class="skill-div-knowledge">
                  <h3>Knowledge</h3>

                  <div class="knowledge">

                    <div class="knowledge-left">
                      <ul>
                          <li>Python3</li>
                          <li>Pandas</li>
                          <li>ETL</li>
                          <li>PowerBI</li>
                          <li>HTML</li>
                          <li>CSS</li>
                      </ul>
                  </div>
                    <div class="right">
                      <ul>
                          <li> SAP ABAP 7.5 </li>
                          <li> CRISP-DM </li>
                          <li> Data Warehousing </li>
                          <li> APIs </li>
                          <li> SQL </li>
                          <li> SCRUM </li>
                      </ul>
                  </div>
                  </div>


              </div>

              <div class="skill-div" id="skill-div">
                  <h3>Skills</h3>
                  <ul>
                      <li> <p>Communication</p> </li>
                      <li> <p>Problem solving</p> </li>
                      <li> <p>Adaptability</p></li>
                      <li> <p>Critical thinking</p></li>
                      <li> <p>Teamwork</p></li>
                  </ul>
              </div>
          </div>



      </div>
  </div>
</body>
</html>